.c-blog-article {
  margin: 0 auto;
  padding: $base-spacing-x5 $base-spacing-x3;

  .c-blog-article__header{
    text-align: center;

    h1 {
      font-weight: $font-weight-normal;
      margin-bottom: $base-spacing-x8;
    }
  }

  .c-blog-article__main-image {
    margin-bottom: $base-spacing-x8;
    height: 580px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .c-blog-article__content{
    p{
      line-height: $line-height-hight;
      font-size: $font-size-book;
    }
    blockquote>p{
      font-weight: $font-weight-normal;
    }
    img {
      margin: $base-spacing-x8 0;
      border-radius: 8px;
      box-shadow: 0 10px 40px 0 rgba(199,198,205,0.5);
    }
    li{
      p{
        margin: 0;
        width: auto;
      }
    }
  }

}

@media screen and (break(medium)) {

    .c-blog-article {
      padding: $base-spacing-x9 *2 0 $base-spacing-x7 * 2 0;

      .c-blog-article__header{
        @include grid(10, $offset: 1);
      }

      .c-blog-article__content{
        p, ul{
          @include grid(8, $offset: 2);
          margin-bottom: $base-spacing-x4;
        }
        h3{
          @include grid(8, $offset: 2);
          margin-bottom: $base-spacing-x4;
        }
        blockquote{
          @include grid(10, $offset: 1);
          margin-top: $base-spacing-x4;
          margin-bottom: $base-spacing-x8;
          p{
            margin: 0;
            width: auto;
          }
        }
        img {
          @include grid(10, $offset: 1);
          margin-bottom: $base-spacing-x4;
        }
      }

    }
}













.c-blog-list{
  padding: $base-spacing-x5 $base-spacing-x3;

  .c-blog-list__header{
    h1{
      font-size: $font-size-huge;
      font-weight: $font-weight-medium;
      margin-top: $base-spacing-x6;
    }
    p{
      font-size: $font-size-medium;
      margin-bottom: $base-spacing-x6 * 2;
    }
  }
}


.c-blog-list__item {
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 40px 0 rgba(199,198,205,0.5);
  transition: all 200ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  overflow: hidden;

  margin-bottom: $base-spacing-x3;

  &:hover{
    box-shadow: 0 5px 20px 0 rgba(199,198,205,0.2);

    h3{
      color: color($secondary, default);
    }
  }
  .c-blog-list__item__content {
  }

  .c-blog-list__item__image {
    margin-top: 0;
    margin-bottom: 0;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .c-blog-list__item__text {
    position: relative;
    padding: $base-spacing-x3;
    padding-top: $base-spacing-x5;
    text-align: left;

    h3{
      font-weight: $font-weight-normal;
      margin-bottom: $base-spacing-x2;
    }
    p{
      margin-bottom: $base-spacing-x2;
    }
  }
}

@media screen and (break(medium)) {
  .c-blog-list{
    padding: $base-spacing-x9 *2 0 $base-spacing-x7 * 2 0;

    .c-blog-list__header{
      @include grid(12);
    }
  }

  .c-blog-list__item {
    @include grid(6, $gutter: 24px);

    .c-blog-list__item__content {
      margin-left: 0;
    }
    .c-blog-list__item__text {
      padding: $base-spacing-x4;
      padding-top: $base-spacing-x5;
    }
  }
}
