.c-intro-block {
  margin-top: $base-spacing-x10;
  text-align: left;
  position: relative;
}

.c-intro-block__title {
  color: color($base, white);
  z-index: 10;

  span{
    color: color($primary, default);
  }
  i{
    opacity: 0.2;
    &.hidden{
      opacity: 0;
    }
  }
}

@media screen and (break(medium)) {
  .c-intro-block {
    margin-top: $base-spacing-x10 * 2;
    margin-bottom: $base-spacing-x10;
  }
  .c-intro-block__title {
    @include grid(12);
  }
}
