.c-illustrated-description-block {
  position: relative;
  text-align: left;
  margin: 0 auto;
  z-index: 10;
  margin-top: $base-spacing-x10 * 2;
}

.c-illustrated-description-block__content {
  display: flex;
  flex-flow: column;
}

.c-illustrated-description-block__text {
  order: 2;
}

.c-illustrated-description-block__figure {
  order: 1;

  right: 0;
  width: 100%;

  position: relative;
  height: 300px;

  margin-bottom: $base-spacing-x8;
}

.c-illustrated-description-block__image {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transform-style: preserve-3d;
  transform: translateZ(20px)

  &--back{
    transform: translateZ(-10px);
    height: 85%;
    z-index: 0;
    right: 0;
    margin: 0;
    margin-top: -100px;
    left: -30px;
  }
}

.c-illustrated-description-block__link{
  color: color($base, white);
  font-weight: $font-weight-medium;
  font-family: $font-face-secondary;
  background: url(/assets/images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: $base-spacing 6px;
  padding-left: $base-spacing-x4;
  padding-bottom: $base-spacing;
  border-bottom: 1px solid color($primary, default);

  &:hover {
    color: color($secondary, dark);
  }
}


@media screen and (break(medium)) {
  .c-illustrated-description-block {
    padding: $base-spacing-x3;
    margin-top: $base-spacing-x10 * 4;
  }

  .c-illustrated-description-block__content {
    flex-flow: row;
    align-items: center;
  }

  .c-illustrated-description-block__text {
    @include grid(4, $offset: 1);
    padding-top: $base-spacing-x10 *2;
    padding-bottom: $base-spacing-x10 *2;
    order: 1;
  }

  .c-illustrated-description-block__figure {
    position: absolute;
    @include grid(6, $offset: 1);
    height: 100%;
    order: 2;
  }

  .c-illustrated-description-block__image {
    position: absolute;
    margin-top: 0;
    z-index: 1;


  }
}

// Modifier ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧

.c-illustrated-description-block--inverted{
  .c-illustrated-description-block__figure {
    left: 0;
    right: auto;
  }

  .c-illustrated-description-block__image {
    margin-left: auto;
    margin-right: -50px;

    &--back{
      margin-left: 50px;
      margin-top: -50px;
    }
  }
}

@media screen and (break(medium)) {

  .c-illustrated-description-block--inverted{
    .c-illustrated-description-block__figure {
      @include grid(5);
      margin-left: 0;
    }
    .c-illustrated-description-block__image {
      position: absolute;
      left: 0;
      margin: 0;

      &--left{
        background-position: left center;
      }

      &--back{
        height: 100%;
        margin-left: 100px;
        margin-top: -100px;
      }
    }
    .c-illustrated-description-block__text {
      @include grid(4, $offset: 6);
      padding-top: $base-spacing-x10 + $base-spacing-x4;
      padding-bottom: $base-spacing-x10 + $base-spacing-x4;
    }
  }
}
