.c-header {
  position: fixed;
  z-index: 999;
  top:0;
  left:0;
  width: 100%;
  padding: $base-spacing-x2;
}

.c-header__logos {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.c-header .e-button {
  display: none;
}

.c-header__wrapper{
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (break(medium)) {
  .c-header {
    margin-top:0;

    &.cookie-on {
      margin-top: $base-spacing-x10;
    }

    /* &--landing {
      padding:  $base-spacing-x2 $base-spacing-x4;
    } */

    &--landing .c-logo {
      // flex: 1;
      margin-left: 0
    }
  }
  .c-header__wrapper{
    padding: 0 $base-spacing-x2;
    min-width: 915px;
    position: relative;

    margin: 0 auto;
    align-items: center;
  }
  .c-header .e-button {
    display: block;
  }
}
