.c-loader{
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: color($base, white);
  background-image: url("/assets/images/loader.svg");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity .8s cubic-bezier(.86,0,.07,1);

  &--show{
    transition: opacity .8s cubic-bezier(.86,0,.07,1);
    opacity: 1;
  }
}
