.c-logo {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;

  background: url("/assets/images/Logo.svg") no-repeat;
  background-size: contain;

  text-indent: -9999px;
}

@media screen and (break(medium)) {
  .c-logo {
    width: 40px;
    height: 40px;

    background: url("/assets/images/Logo.svg") no-repeat;
    background-size: contain;

    text-indent: -9999px;
  }
}
