.c-page-content {
  position: relative;
  margin: 0 auto;
  padding-top: $base-spacing-x10;

  .c-page-content__title{

  }
  .c-page-content__text{
    &__item{
      h5{
        margin-bottom: $base-spacing-x5;
      }
      p{
        margin-bottom: $base-spacing-x8 * 2;
      }
    }
  }

  .c-page-content-background{
    position: absolute;
    width: 550px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    &--triangle{
      background-image: url(/assets/images/triangle-about.svg);
      right: -20%;
      bottom: 0;
      background-size: 70%;
    }
    &--circle{
      background-image: url(/assets/images/circle.svg);
      left: -20%;
      top: 50%;
    }
  }

  &--notitle {
    .c-page-content__text__item{
        h5{
          margin-bottom: $base-spacing-x7;
        }
        p{
          font-size: $font-size-book;
        }
    }
  }

}

.c-big-link{
  text-align: right;
  a{
    color: color($base, white);
    font-weight: $font-weight-light;
    font-size: $font-size-huge;
    background: url(/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 46px;
    background-position: $base-spacing 17px;
    padding-left: $base-spacing-x9;
    padding-bottom: $base-spacing;
  }
  &:hover {
    color: color($secondary, dark);
  }
}

@media screen and (break(medium)) {
  .c-page-content {
    padding: $base-spacing-x9 *2 0 $base-spacing-x7 * 2 0;
  }
  .c-page-content__title{
    @include grid(4);
  }
  .c-page-content__text{
    @include grid(5, $offset:2);
  }
  .c-big-link{
    @include grid(4, $offset:8);
  }
  .c-page-content--notitle{
      .c-page-content__text{
        @include grid(7, $offset:4);
        .c-page-content__text__item{
            p{
              font-size: $font-size-large;
            }
        }
      }
  }
}
