.c-team-item {
  position: relative;
  margin-top: $base-spacing-x10;
  color: color($base, white);
  text-align: center;

  .c-team-item__tilt{
    transform-style: preserve-3d;
  }

  .c-team-item__figure{
    position: relative;
    width: 100%;
    //height: 248px;
    margin: 0;

    &::before{
    	content: "";
    	display: block;
    	padding-top: 100%; 	/* initial ratio of 1:1*/
    }

    .c-team-item__figure__tilt{
      background-position: center center;
      background-size: 100%;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;

      &--1{
        transform: translateZ(5px);
      }
      &--2{
        transform: translateZ(15px) scale(0.98);
      }
      &--3{
        transform: translateZ(30px) scale(0.95);
      }
    }

  }

  img{
    transform-style: preserve-3d;
    transform: translateZ(-20px);
  }

  &--text{
    height: 300px;
    text-align: left;
    display: flex;
    align-items: center;
    a{
      color: color($base, white);
      text-decoration: underline;
    }
  }

  .c-team-item__title{
    transform: translateZ(10px);
    color: color($base, light);
  }
  .c-team-item__position{
    transform: translateZ(0px);
    color: color($base, light);
  }


  &:hover{

  }
}

@media screen and (break(medium)) {
  .c-team-item {
    @include grid(4);
    margin-top: $base-spacing-x10;
  }


}
