.c-team-item {
  position: relative;
  margin-top: $base-spacing-x10;
  color: color($base, white);
  text-align: center;

  .c-team-item__tilt{
    transform-style: preserve-3d;
  }

  .c-team-item__figure{
    position: relative;
    width: 100%;
    //height: 248px;
    margin: 0;

    &::before{
    	content: "";
    	display: block;
    	padding-top: 100%; 	/* initial ratio of 1:1*/
    }

    .c-team-item__figure__tilt{
      background-position: center center;
      background-size: 100%;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;

      &--1{
        transform: translateZ(-5px);
      }
      &--2{
        transform: translateZ(20px) scale(0.98);
      }
      &--3{
        transform: translateZ(45px) scale(0.95);
      }
    }

  }

  img{
    transform-style: preserve-3d;
    transform: translateZ(-20px);
  }

  &--text{
    height: 300px;
    text-align: left;
    display: flex;
    align-items: center;
    h3{
      margin-top: $base-spacing-x10;
      margin-bottom: 0;
    }
    a{
      color: color($base, white);
      text-decoration: underline;
    }
  }

  .c-team-item__title{
    transform: translateZ(10px);
    color: color($base, light);
    opacity: 0.3;
    transition: all .8s cubic-bezier(.86,0,.07,1);
  }
  .c-team-item__position{
    opacity: 0;
    transform: translateZ(0px);
    color: color($base, light);
    transition: all .8s cubic-bezier(.86,0,.07,1);
    .teletype-cursor{
      color: color($primary, default);
    }
  }


  &:hover{
    .c-team-item__title{
      color: color($base, white);
      opacity: 1;
    }
    .c-team-item__position{
      color: color($base, white);
      opacity: 1;
    }
  }
}

@media screen and (break(medium)) {
  .c-team-item {
    @include grid(4);
    margin-top: $base-spacing-x10;
  }


}
