.t-link{
  display: inline-block;
  transition: all .8s cubic-bezier(.41,0,.07,1);
  transform: translate3d(0,0,0);
  position: relative;
  color: color($base, white);
  line-height: 1.3;

  font-weight: $font-weight-light;
  font-size: $font-size-large;
  font-family: $font-face-primary;

  &--inverted{
    color: color($base, default);
    font-family: $font-face-primary;
    margin-bottom: $base-spacing-x4;
  }

  &--base-font{
    color: color($base, light);
    font-family: $font-face-primary;
  }

  &--arrow{
    background: url(/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: $base-spacing 10px;
    padding-left: $base-spacing-x6;
  }

  &--arrow--small{
    font-family: $font-face-secondary;
    font-size: $font-size-book;
    background-size: 18px;
    background-position: $base-spacing 4px;
    padding-left: $base-spacing-x5;
  }

  .t-link__line {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    height: $base-spacing / 2;
    bottom: 0px;

    &:after,&:before{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: color($primary, default);
    }
    &:before {
      transform: translate3d(-102%,0,0);
      opacity: 0;
    }
    &:after{
      transition: transform .8s cubic-bezier(.165,.84,.44,1);
      transform: translate3d(102%,0,0);
      opacity: 1;
    }
  }

  &--big{
    text-align: left;
    font-weight: $font-weight-light;
    font-size: $font-size-large;
    margin-bottom: 0;

    .t-link__line{
      height: $base-spacing;
    }
  }

  &--medium{
    font-weight: $font-weight-light;
    font-size: $font-size-large;

    .t-link__line{
      height: $base-spacing/2;
    }
  }

  &--selected{
    color: color($base, white);
    .t-link__line {
      &:before {
        transform: translateZ(0);
      }
      &:after {
        transform: translateZ(0);
      }
    }
  }

  &:hover {
    color: color($secondary, dark);

    .t-link__line {
      &:before {
        transition: transform .6s cubic-bezier(.165,.84,.44,1);
        transform: translateZ(0);
        opacity: 1;
      }
      &:after{
        transform: translateZ(0);
        transition: none;
        opacity: 0;
      }
    }
  }
}

.t-link-detail{
  display: block;
  margin-left: 0;
  color: color($base, light);
  font-family: $font-face-primary;
  font-size: $font-size-small;
}

.e-page--inverted{
  .t-link--arrow{
    color: color($base, default);
  }
  .t-link--selected{
    color: color($base, default);
  }
}

@media screen and (break(medium)) {
  .t-link{
    &--big{
      text-align: left;
      font-weight: $font-weight-light;
      font-size: $font-size-huge;

      .t-link__line{
        height: $base-spacing;
      }
    }
  }
  .t-link-detail{
    display: inline-block;
    margin-left: $base-spacing-x4;
    font-size: $font-size-book;
  }
}
