// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Trump margins
// Last update: 08/08/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥


.t-margin-bottom-none {
  margin-top: 0;
}
.t-margin-top-x1 {
  margin-top: $base-spacing;
}
.t-margin-top-x2 {
  margin-top: $base-spacing-x2;
}
.t-margin-top-x3 {
  margin-top: $base-spacing-x3;
}
.t-margin-top-x4 {
  margin-top: $base-spacing-x4;
}
.t-margin-top-x5 {
  margin-top: $base-spacing-x5;
}
.t-margin-top-x6 {
  margin-top: $base-spacing-x6;
}
.t-margin-top-x7 {
  margin-top: $base-spacing-x7;
}
.t-margin-top-x8 {
  margin-top: $base-spacing-x8;
}
.t-margin-top-x9 {
  margin-top: $base-spacing-x9;
}
.t-margin-top-x10 {
  margin-top: $base-spacing-x10;
}
.t-margin-top-x20 {
  margin-top: $base-spacing-x10 * 2;
}

.t-margin-bottom-none {
  margin-bottom: 0;
}
.t-margin-bottom-x1 {
  margin-bottom: $base-spacing;
}
.t-margin-bottom-x2 {
  margin-bottom: $base-spacing-x2;
}
.t-margin-bottom-x3 {
  margin-bottom: $base-spacing-x3;
}
.t-margin-bottom-x4 {
  margin-bottom: $base-spacing-x4;
}
.t-margin-bottom-x5 {
  margin-bottom: $base-spacing-x5;
}
.t-margin-bottom-x6 {
  margin-bottom: $base-spacing-x6;
}
.t-margin-bottom-x7 {
  margin-bottom: $base-spacing-x7;
}
.t-margin-bottom-x8 {
  margin-bottom: $base-spacing-x8;
}
.t-margin-bottom-x9 {
  margin-bottom: $base-spacing-x9;
}
.t-margin-bottom-x10 {
  margin-bottom: $base-spacing-x10;
}
.t-margin-bottom-x20 {
  margin-bottom: $base-spacing-x10 * 2;
}
