---
layout: default
---

<article class="c-contacts o-wrapper">
  <header class="c-contacts__header">
    <h1>{{ page.Title }}</h1>
    <p class="subtitle">{{ page.Subtitle }}</p>
  </header>
  <ul class="c-contacts__list">
    <li class="c-contacts__list-item">
      <img src="/assets/images/plane-icon.svg" class="c-contacts__list-icon" />
      <small class="c-contacts__list-description">{{ page.helloBlockText }}</small>
      <a class="c-contacts__list-contact" href="mailto:{{ page.helloBlockLink }}">{{ page.helloBlockLink }}</a>
    </li>
    <li class="c-contacts__list-item c-contacts__list-item--border-right c-contacts__list-item--border-left">
      <img src="/assets/images/faq-icon.svg" class="c-contacts__list-icon" />
      <small class="c-contacts__list-description">{{ page.helpBlockText }}</small>
      <a class="c-contacts__list-contact" href="mailto:{{ page.helpBlockLink }}">{{ page.helpBlockLink }}</a>
    </li>
    <li class="c-contacts__list-item">
      <img src="/assets/images/contacts-icon.svg" class="c-contacts__list-icon" />
      <a class="c-contacts__list-contact" href="tel:+390152434677">{{ page.phoneBlockLink1 }}</a>
      <small class="c-contacts__list-description c-contacts__list-description--more-margin">{{ page.phoneBlockText1 }}</small>
      <a class="c-contacts__list-contact" href="tel:+390152434614">{{ page.phoneBlockLink2 }}</a>
      <small class="c-contacts__list-description">{{ page.phoneBlockText2 }}</small>
    </li>
  </ul>
</article>
