---
layout: default
menu: features
---

{% include hero.html
  title = page.title
  text = page.description
  image = page.introImage
%}

{% include illustrated-description-block-triple.html
  first-title = page.detailFirstBlockTitle
  first-text = page.detailFirstBlockText
  first-image = page.detailFirstBlockImage

  second-title = page.detailSecondBlockTitle
  second-text = page.detailSecondBlockText
  second-image = page.detailSecondBlockImage

  third-title = page.detailThirdBlockTitle
  third-text = page.detailThirdBlockText
  third-image = page.detailThirdBlockImage
%}

{% include intro-block.html
  title = page.introTitle
  subtitle = page.introSubtitle
%}

{% include illustrated-description-block-double.html
  first-title = page.printBlockTitle
  first-text = page.printBlockText
  first-image = page.printBlockImage

  second-title = page.deliverBlockTitle
  second-text = page.deliverBlockText
  second-image = page.deliverBlockImage
%}

{% include illustrated-description-block.html
  title = page.notificationBlockTitle
  text = page.notificationBlockText
  image = page.notificationBlockImage
%}

{% include illustrated-description-block.html
  style = "c-illustrated-description-block--offimage"
  subtitle = page.influenceBlockSubtitle
  title = page.influenceBlockTitle
  text = page.influenceBlockText
  image = page.influenceBlockImage
%}

{% include illustrated-description-block.html
  style = "c-illustrated-description-block--background c-illustrated-description-block--big"
  subtitle = page.packBlockSubtitle
  title = page.packBlockTitle
  text = page.packBlockText
  image = page.packBlockImage
%}


{% include centered-block.html
  style = "c-centered-block--light"
  title = page.centeredBlockTitle
  subtitle = page.centeredBlockSubtitle
  description = page.centeredBlockText
  image = page.centeredBlockImage

%}

{% include prefooter.html %}
