---
layout: default
menu: features
---

{% include hero.html
  title = page.title
  text = page.description
  image = page.introImage
%}

{% include intro-block.html
  title = page.introTitle
  subtitle = page.introSubtitle
%}

{% include illustrated-description-block-double.html
  first-title = page.printBlockTitle
  first-text = page.printBlockText
  first-image = page.printBlockImage

  second-title = page.deliverBlockTitle
  second-text = page.deliverBlockText
  second-image = page.deliverBlockImage
%}

{% include illustrated-description-block.html
  title = page.notificationBlockTitle
  text = page.notificationBlockText
  image = page.notificationBlockImage
%}

{% include illustrated-description-block.html
  style = "c-illustrated-description-block--background"
  subtitle = page.packBlockSubtitle
  title = page.packBlockTitle
  text = page.packBlockText
  image = page.packBlockImage
%}

{% include intro-block.html
  title = page.secondTitle
  subtitle = page.secondSubtitle
%}

{% include illustrated-description-block-double.html
  type = "secondary"

  first-title = page.detailFirstBlockTitle
  first-text = page.detailFirstBlockText
  first-image = page.detailFirstBlockImage

  second-title = page.detailSecondBlockTitle
  second-text = page.detailSecondBlockText
  second-image = page.detailSecondBlockImage
%}

{% include illustrated-description-block-double.html
  type = "secondary"
  style = "t-margin-bottom-x10"

  first-title = page.detailThirdBlockTitle
  first-text = page.detailThirdBlockText
  first-image = page.detailThirdBlockImage

  second-title = page.detailFourthBlockTitle
  second-text = page.detailFourthBlockText
  second-image = page.detailFourthBlockImage
%}

{% include centered-block.html
  style = page.centeredBlockStyle
  title = page.centeredBlockTitle
  subtitle = page.centeredBlockSubtitle
  description = page.centeredBlockText
  image = page.centeredBlockImage

%}

{% include prefooter.html %}
