// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Description: Font Face Helper
// Last update: 09/08/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

@function import-google-fonts() {
  $fonts: "";

  @each $family, $variations in $google-fonts {
    // Create url-friendly name (replace space with +):
    $family-string: str-replace($family, ' ', '+');

    // Combine variations into a comma separated string:
    $variations-string: "";
    @each $variation in $variations {
      $variations-string: "#{$variations-string},#{$variation}";
    }

    // Cut of the first character (unwanted comma):
    $variations-string: str-slice($variations-string, 2);

    // Combine family and variatons in $fonts,
    // separated by a pipe (for the Google URL):
    $fonts: "#{$fonts}|#{$family-string}:#{$variations-string}";
  }

  // Cut of the first character (unwanted pipe):
  $fonts: str-slice($fonts, 2);

  // Import only the used Google fonts!
  @return "http://fonts.googleapis.com/css?family=#{$fonts}";
}

// Source for this str-replace() function:
// http://sassmeister.com/gist/1b4f2da5527830088e4d
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@mixin track-fonts($family, $weight, $style) {
  // First check if we already knew this one:
  @if map-has-key($google-fonts, $family) == false {
    // Font-family isn't in the map yet, so add it.
    // The key for the nested map is the font name:
    $google-fonts: map-merge($google-fonts, ($family: ())) !global;
  }

  // Now check if this weight and style are known,
  // using Google's "400italic" notation.
  // If style is "normal", only use the weight:
  $weight-style: if($style == normal, $weight, #{$weight}#{$style});
  $font-map: map-get($google-fonts, $family);
  @if index($font-map, $weight-style) == null {
    // Weight and style aren't in the map yet, so add it:
    $variations: append($font-map, $weight-style);
    $google-fonts: map-merge($google-fonts, ($family: $variations)) !global;
  }
}

@mixin font($family, $weight: 400, $style: normal) {
  // Call our custom function to do the heavy lifting:
  @include track-fonts($family, $weight, $style);
  font-family: $family, $font-family;
  font-weight: $weight;
  font-style: $style;
}

@if $use-google-fonts {
  $import: import-google-fonts();
  @import url(#{$import});
}
