// Layout settings

$base-spacing    : 8px;                 // 8px
$base-spacing-x2 : $base-spacing * 2;   // 16px
$base-spacing-x3 : $base-spacing * 3;   // 24px
$base-spacing-x4 : $base-spacing * 4;   // 32px
$base-spacing-x5 : $base-spacing * 5;   // 40px
$base-spacing-x6 : $base-spacing * 6;   // 48px
$base-spacing-x7 : $base-spacing * 7;   // 56px
$base-spacing-x8 : $base-spacing * 8;   // 64px
$base-spacing-x9 : $base-spacing * 9;   // 72px
$base-spacing-x10 : $base-spacing * 10; // 80px


// Debug flags

$use-helper-mediaqueries: false;


// Responsive settings (30em > 480px, 48em > 768px, 60em > 960px, 80em > 1280px, 100em > 1600px)
$breakpoints: (
  extraSmall : 30em,
  small      : 48em,
  medium     : 60em,
  large      : 80em,
  extraLarge : 100em
);

$densities: (
  1x  : '96dpi',
  15x : '144dpi',
  2x  : '192dpi',
  3x  : '288dpi'
);


// Grid settings

$grid-columns     : 12;
$grid-use-gutters : true;
$grid-gutter      : 24px;
