// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Color palette
// Last update: 23/03/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

$primary: (
  darkest  : #4F3DF3,
  darker   : #4F3DF3,
  dark     : #4F3DF3,
  default  : #4F3DF3,
  light    : #4F3DF3,
  lighter  : #4F3DF3,
  lightest : #4F3DF3
);

$secondary: (
  darkest  : #4F3DF3,
  darker   : #4F3DF3,
  dark     : #4F3DF3,
  default  : #4F3DF3,
  light    : #4F3DF3,
  lighter  : #4F3DF3,
  lightest : #4F3DF3
);

$base: (
  darkest  : #161C2D,
  darker   : #161C2D,
  dark     : #161C2D,
  default  : #161C2D,
  light    : #6A687B,
  lighter  : #C7C6CD,
  lightest : #F0F1F4,
  white    : #FFFFFF
);

$green: (
  darkest  : #244B2A,
  darker   : #244B2A,
  dark     : #3E8248,
  default  : #61CC71,
  light    : #A8E3B1,
  lighter  : #D3F1D8,
  lightest : #D3F1D8
);

$red: (
  darkest  : #5D0A10,
  darker   : #5D0A10,
  dark     : #950F1A,
  default  : #CC1423,
  light    : #D9545F,
  lighter  : #E7949B,
  lightest : #E7949B
);

$yellow: (
  darkest  : #746220,
  darker   : #746220,
  dark     : #BA9C33,
  default  : #FFD645,
  light    : #FFE177,
  lighter  : #FFF3CC,
  lightest : #FFF3CC
);
