// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Color palette
// Last update: 23/03/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

$primary: (
  darkest  : #4F3DF3,
  darker   : #4F3DF3,
  dark     : #4F3DF3,
  default  : #4F3DF3,
  light    : #4F3DF3,
  lighter  : #4F3DF3,
  lightest : #4F3DF3
);

$secondary: (
  darkest  : #4F3DF3,
  darker   : #4F3DF3,
  dark     : #4F3DF3,
  default  : #4F3DF3,
  light    : #4F3DF3,
  lighter  : #4F3DF3,
  lightest : #4F3DF3
);

$base: (
  darkest  : #161C2D,
  darker   : #161C2D,
  dark     : #161C2D,
  default  : #161C2D,
  light    : #6A687B,
  lighter  : #C7C6CD,
  lightest : #F0F1F4,
  white    : #FFFFFF
);

$green: (
  darkest  : #244B2A,
  darker   : #244B2A,
  dark     : #3E8248,
  default  : #61CC71,
  light    : #A8E3B1,
  lighter  : #D3F1D8,
  lightest : #D3F1D8
);

$red: (
  darkest  : #EF2952,
  darker   : #EF2952,
  dark     : #EF2952,
  default  : #EF2952,
  light    : #EF2952,
  lighter  : #EF2952,
  lightest : #EF2952
);

$yellow: (
  darkest  : #FFCC00,
  darker   : #FFCC00,
  dark     : #FFCC00,
  default  : #FFCC00,
  light    : #FFCC00,
  lighter  : #FFCC00,
  lightest : #FFCC00
);

$blue: (
  darkest  : #28BBE1,
  darker   : #28BBE1,
  dark     : #28BBE1,
  default  : #28BBE1,
  light    : #28BBE1,
  lighter  : #28BBE1,
  lightest : #28BBE1
);

$pink: (
  darkest  : #F088B9,
  darker   : #F088B9,
  dark     : #F088B9,
  default  : #F088B9,
  light    : #F088B9,
  lighter  : #F088B9,
  lightest : #F088B9
);
