// Typography settings

$font-face-primary    : Apercu;
$font-face-secondary  : Apercu-Mono;

$use-google-fonts     : false;
$google-fonts         : "";
$font-family          : sans-serif;

$font-weight-bold     : 600;
$font-weight-medium   : 500;
$font-weight-normal   : 400;
$font-weight-light    : 200;

$font-size-mega       : 4.444rem;   // 64px
$font-size-huge       : 3.556rem;   // 64px
$font-size-xlarge     : 3.111rem;   // 56px
$font-size-large      : 1.778rem;   // 32px
$font-size-medium     : 1.333rem;   // 24px
$font-size-book       : 1.111rem;   // 20px
$font-size-base       : 18px;
$font-size-small      : 0.8889rem;  // 16px
$font-size-xsmall     : 0.7778rem;  // 14px
$font-size-xxsmall    : 0.7222rem;  // 13px

$line-height-base     : 1.34;
$line-height-hight    : 1.5;
