@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

/***
 *
 * RESET
 *
***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***
 *
 * STYLE
 *
***/

body {
  font-family: "Inconsolata", monospace;
  line-height: 1.45;
  color: rgba(255, 255, 255, .7);
  margin: 0 auto 5rem auto;
  font-size: 125%;
  background: rgb(22, 28, 45);
}

.wrapper, section {
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  color: #4F3DF3;
}

h1, h2, h3, h4, h5, h6, p {
  max-width: 80%;
}

a {
  text-decoration: none;
  color: #fff;
  opacity: .5;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
  opacity: 1;
  color: #4F3DF3;
}

header {
  width: 100%;
  padding: 2rem 0;
}

header .wrapper {
  overflow: hidden;
  position: relative;
}

header .logo {
  float: left;
  max-width: 150px;
  fill: white;
}

header .logo-link {
	opacity: 1;
	-o-transition: 0;
  -ms-transition:  0;
  -moz-transition: 0;
  -webkit-transition: 0;
  transition: 0;
}

header .logo:hover {
  float: left;
  animation-duration: .5s;
  animation-name: color-me;
  animation-iteration-count: infinite;
}

header nav {
  position: absolute;
  right: 0;
  top: 45%;
  transform: translateY(-45%);
}

header nav li {
  display: inline-block;
  margin-left: 2rem;
  font-size: 1rem;
}


/***
 *
 * SECTIONS
 *
***/

[class*=e1a-] {
  font-size: 1rem;
}

.hero {
  padding: 1em 0 1.5em 0;
}

/***
 *
 * TYPOGRAPHY
 *
***/

html {font-size: 1.25em; -webkit-font-smoothing: antialiased;}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 6.854em;
}

h2 {font-size: 4.236em;}

h3 {font-size: 2.618em;}

h4 {font-size: 1.618em;}

small, .font_small {font-size: 0.618em;}


/***
 *
 * ANIMATIONS
 *
***/

@keyframes color-me {
  0% {
    fill: blue;
  }

  20% {
    fill: violet;
  }

  40% {
    fill: red;
  }

  60% {
    fill: orange;
  }

  20% {
    fill: cyan;
  }

  100% {
    fill: white;
  }
}


/***
 *
 * MEDIA QUERIES
 *
***/

@media all and (max-width: 1300px) {

	html {
	font-size: 100%;
	}

  body {
    padding: 0 1rem;
  }

	h1, h2, h3, h4, h5, h6, p {
	  max-width: 100%;
	}
}

@media all and (max-width: 500px) {
	header  {
		text-align: center;
		margin-bottom: 0;
	}

	header .logo {
		float: none;
	}

	.hero {
		padding-top: 0;
	}

	.hero h3 {
		margin-top: 2rem;
	}

	header nav {
		display: block;
	  position: relative;
		width: 100%;
	  transform: none;
		margin-top: 2rem;
		padding: 1rem 0;
		border-top: 1px solid rgba(255, 255, 255, .2);
		border-bottom: 1px solid rgba(255, 255, 255, .2);
	}

	header nav li:first-child {
		margin: 0;
	}
}
