.e-button {
  display: inline-block;
  padding: $base-spacing-x2 $base-spacing-x5;
  background: color($primary, default);
  color: #fff;
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  line-height: $line-height-base;
  border-radius: 100px;

  &:hover {
    background: color($primary, light);
    color: #fff;
  }

  &--secondary {
    text-transform: uppercase;
  }

  &--uppercase {
    background: color($secondary, default);

    &:hover {
      background: color($secondary, lighter);
      color: #fff;
    }
  }

  &--outlined {
    background: none;
    border: 1px solid color($secondary, light);
    color: color($secondary, light);
  }

  &--small {
    padding: $base-spacing $base-spacing-x2;
    background: color($secondary, lightest);
    color: color($secondary, light);
    font-size: .75rem;
    text-transform: capitalize;
    font-weight: 600;
    line-height: .75rem;
  }

  &--no-uppercase {
    text-transform: none;
  }
}
