// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Pages page tags
// Last update: 08/08/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

// Metro mode compatibility.
@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
}

body,
.e-page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: color($base, lightest);

  overflow-x: hidden;
  @if $font-face-primary and $font-face-primary != '' {
    font-family: $font-face-primary, $font-family;
  }
  @else if $use-google-fonts {
    @include font("Open Sans", 700);
  }
  @else {
    font-family: -apple-system, BlinkMacSystemFont, $font-family;
  }

  background: color($base, default);
}
.e-page--inverted{
  background: color($base, white);
}

main{
  //overflow-x: hidden;
}

::selection {
  text-shadow: none;
  color: color($base, white);
  background-color: color($primary, default);
}

@media screen and (break(medium)) {

}
