// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Basics Typography
// Last update: 08/08/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

%heading-rules {
  line-height: 1.2;
  font-weight: $font-weight-medium;
  color: color($base, default);

  margin-top: 0;
  padding: 0;
}


h1 {
  @extend %heading-rules;
  font-size: $font-size-large;
  margin-bottom: $base-spacing-x4;
}
@media screen and (break(medium)) {
  h1 {
    font-size: $font-size-huge;
  }
}

h2 {
  @extend %heading-rules;
  font-size: $font-size-medium;
  margin-bottom: $base-spacing-x4;
}
@media screen and (break(medium)) {
  h2 {
    font-size: $font-size-xlarge;
  }
}

h3, blockquote>p {
  @extend %heading-rules;
  font-size: $font-size-large;
  margin-bottom: $base-spacing-x4;
}


h4 {
  @extend %heading-rules;
  font-size: $font-size-medium;
  margin-bottom: $base-spacing-x3;
}


h5 {
  @extend %heading-rules;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-medium;
  color: color($base, lighter);
  text-transform: uppercase;
  margin-bottom: $base-spacing-x3;
}


h6 {
  @extend %heading-rules;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  margin-bottom: $base-spacing-x4;
  color: color($base, light);
}


p, ul {
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: color($base, light);
  margin-bottom: $base-spacing-x4;
  margin-top: 0;
}

a{
  color: color($secondary, default);
  font-weight: $font-weight-medium;

  &:hover {
    color: color($secondary, dark);
  }
}
