<div class="c-centered-block {{ include.style }}">
  <div class="o-wrapper c-centered-block__wrapper">
    <h5 class="c-centered-block__subtitle">{{ include.subtitle }}</h5>
    <h2 class="c-centered-block__title">{{ include.title }}</h2>
    <div class="c-centered-block__text">
        <p>{{ include.description }}</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div >
    <img class="c-centered-block__image" src="{{ include.image }}"></img>
    <div class="clearfix"></div>
  </div>

</div>
