<footer class="c-footer" role="contentinfo">
    <!--
    <div class="o-wrapper">

      <div class="c-footer__brand">
        <div class="c-footer__logo"></div>
        <p>Vendere online,<br />
          in modo smart.</p>
      </div>

      {% include footer-navigation.html
        title = "Funzionalità"
        menu =  "features"
        list = site.features
      %}

      {% include footer-navigation.html
        title = "Altro"
        menu =  "main"
        list = site.pages
      %}

      {% include footer-navigation.html
        title = ""
        menu =  "footer"
        list = site.pages
      %}

      <div class="clearfix"></div>
    </div>
    -->

    <div class="c-footer__bottom o-wrapper">

      <div class="c-footer__credits">
        <p>
          Created with <span title="Elegance" style="padding-right:8px;">🎩</span>   by Bemind © 2017 — <a href="http://www.bemind.me" target="_blank">bemind.me</a> - <a href="/privacy" target="_blank">Privacy Policy</a>
        </p>
      </div>

      <div class="c-footer__social">
        <a class="c-footer__social-facebook" href="https://facebook.com/{{site.facebook_username}}" target="_blank"></a>
        <a class="c-footer__social-instagram" href="https://instagram.com/{{site.instagram_username}}" target="_blank"></a>
        <a class="c-footer__social-twitter" href="https://instagram.com/{{site.twitter_username}}" target="_blank"></a>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="o-wrapper">
      <p class="c-footer__copyright">
        {{ site.data.footer.text.one }}{{ site.time | date: '%Y' }} {{ site.data.footer.text.two}}
      </p>
      <div class="clearfix"></div>
    </div>

</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/main.js"></script>
