<div class="o-wrapper c-illustrated-description-block-triple">
  <div class="c-illustrated-description-block-triple__wrapper">

    <div class="c-illustrated-description-block-triple__content">
      <img class="c-illustrated-description-block-triple__image" src="{{ include.first-image }}"/>
      <div class="c-illustrated-description-block-triple__text">
        <h4>{{ include.first-title }}</h4>
        <p>{{ include.first-text | markdownify }}</p>
      </div>
    </div>

    <div class="c-illustrated-description-block-triple__content">
      <img class="c-illustrated-description-block-triple__image" src="{{ include.second-image }}"/>
      <div class="c-illustrated-description-block-triple__text">
        <h4>{{ include.second-title }}</h4>
        <p>{{ include.second-text | markdownify }}</p>
      </div>
    </div>

    <div class="c-illustrated-description-block-triple__content">
      <img class="c-illustrated-description-block-triple__image" src="{{ include.third-image }}"/>
      <div class="c-illustrated-description-block-triple__text">
        <h4>{{ include.third-title }}</h4>
        <p>{{ include.third-text | markdownify }}</p>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
