<div class="o-wrapper c-illustrated-description-block-double {{ include.style }}">
  <div class="c-illustrated-description-block-double__wrapper">

    <div class="c-illustrated-description-block-double__content">
      <img class="c-illustrated-description-block-double__image" src="{{ include.first-image }}"/>
      <div class="c-illustrated-description-block-double__text">
        {% if include.first-icon %}
          <img class="c-illustrated-description-block-double__icon" src="{{ include.first-icon }}"/>
        {% endif %}

        {% if include.first-subtitle %}
          <h5>{{ include.first-subtitle }}</h5>
        {% endif %}

        {% if include.type == "secondary" %}
          <h4>{{ include.first-title }}</h4>
        {% else %}
          <h3>{{ include.first-title }}</h3>
        {% endif %}

        <p>{{ include.first-text | markdownify }}</p>

        {% if include.first-label %}
          <a class="c-illustrated-description-block-double__link" href="{{ include.first-link }}">{{ include.first-label }}</a>
        {% endif %}
      </div>
    </div>

    <div class="c-illustrated-description-block-double__content">
      <img class="c-illustrated-description-block-double__image" src="{{ include.second-image }}"/>
      <div class="c-illustrated-description-block-double__text">
        {% if include.second-icon %}
          <img class="c-illustrated-description-block-double__icon" src="{{ include.second-icon }}"/>
        {% endif %}

        {% if include.second-subtitle %}
          <h5>{{ include.second-subtitle }}</h5>
        {% endif %}

        {% if include.type == "secondary" %}
          <h4>{{ include.second-title }}</h4>
        {% else %}
          <h3>{{ include.second-title }}</h3>
        {% endif %}

        {{ include.second-text | markdownify }}

        {% if include.second-label %}
          <a class="c-illustrated-description-block-double__link" href="{{ include.second-link }}">{{ include.second-label }}</a>
        {% endif %}
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
