<div class="c-modal-wrapper c-modal-wrapper--closed" style="display:none;" data-js="modal-js" >
  <div class="c-modal-overdrop"></div>
  <div class="o-wrapper c-modal c-modal--background">

    <div class="c-fiesta" data-js="modal-success-js" style="display:none;">
      🎊
    </div>

    <a href="#" data-js="modal-close-button-js" class="c-modal__close-button"></a>
    <h2 data-js="modal-title-js" class="c-modal__title" data-message="{{ site.data.modal.titleSuccess }}">{{ site.data.modal.title }}</h2>
    <div data-js="modal-text-js"  data-message="{{ site.data.modal.textSuccess }}">{{ site.data.modal.text | markdownify}}</div>

    <div data-js="modal-form-js">
      <input type="text" class="e-input-text" data-js="email-submit-js" placeholder="Inserisci la tua email" />
      <a class="e-button c-prefooter__button" href="#" data-js="submit-js">{{ site.data.modal.button }}</a>
      <div data-js="modal-fail-js" class="e-input-validation e-input-validation--failed" style="display:none;">
        {{ site.data.modal.failed }}
      </div>
      <p class="c-modal-privacy">Proseguendo dichiari di accettare la nostra <a href="/privacy" target="_blank">Privacy Policy</p>
    </div>


    <div class="clearfix"></div>
  </div>
</div>
